<% include header.html %>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" style="color:#ffffff">报道流程管理</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if (user) { %>
              <li><a href="#">
                <span class="glyphicon glyphicon-user" aria-hidden="true"/><span class="fontChange"> <%= user.user_name %></span></a></li>
            <% } %>
            
            <li><a href="/logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"/><span class="fontChange"> 退出</span></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/home">
                <span class="glyphicon glyphicon-home" aria-hidden="true"/><span class="fontChange"> 后台首页</span></a></li>
            <li><a href="/post">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"/><span class="fontChange"> 添加流程</span></a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
           
          <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">全部流程</h3>
                <a href="/post">
                  <button type="button" class="btn btn-warning btn-sm positionChange">
                    <span class="fontChange"> 添加报道流程</span>
                  </button>
                </a>
          
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>调整</th>
                      <th class="display-none">流程ID</th>
                      <th>标题</th>
                      <th>二维码</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                   <% posts.forEach(function (post, index) { %>
                        <tr>
                          <td>
                            <button class="btn btn-xs glyphicon glyphicon-arrow-up adjust" disabled onclick="up(this)"></button>&nbsp; 
                            <button class="btn btn-xs glyphicon glyphicon-arrow-down adjust" disabled onclick="down(this)"></button>
                          </td>
                          <td class="display-none"><%= post.id %></td>
                          <td><a href="/detail?id=<%= post.id %>"><%= post.title %></a></td>
                          <td>查看</td>
                          <td>
                            <button type="button" class="btn btn-success btn-xs"> 修 改 </button> &nbsp;
                            <button type="button" class="btn btn-danger btn-xs"> 删 除 </button> &nbsp;
                           
                          </td>
                        </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
        
               <button type="button" class="btn btn-default btn-sm" onclick="adjustSeq()">
                <span class="fontChange"> 调整流程顺序</span>
              </button> 
              <button type="button" class="btn btn-primary btn-sm adjust-fin" onclick="adjustFin()">
                <span class="fontChange"> 完 成</span>
              </button> 
              <% if (error) { %>
                <span class="label label-danger" style="position: relative;"><%= error %> </span>
              <% } %>
              <% if (success) { %>
                <span class="label label-warning" style="position: relative;"><%= success %> </span>
              <% } %>

            </div>
          </div>
        </div>
      </div>
    </div>
<% include footer.html %>