<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title><%= title %></title>
    
    <link href="/stylesheets/weui.min.css" rel="stylesheet">
    <link href="/stylesheets/example.css" rel="stylesheet">
</head>
<body ontouchstart>
    <div class="container" id="container">
        <div class="page icons">
            <div class="page__hd">
                <h1 class="page__title">流程列表</h1>
                <p class="page__desc"><%= student %>，您好</p>
            </div>
            <div class="page__bd">
                <div class="weui-cells">
                    <% posts.forEach(function (post, index) { %>
                        <a class="weui-cell weui-cell_access" href="/mobileDetail?id=<%= post.id %>">
                            <div class="weui-cell__bd">
                                <p><%= post.title%></p>
                            </div>
                            <div class="weui-cell__ft">
                                <% if (!post.status) { %>  <span class="label label-danger">未完成</span><% } %>
                                <% if (post.status) { %> <span class="label label-success">已完成</span> <% } %>
                            </div>
                        </a>
                    <% }) %>
                </div>

            </div>
        </div>
    </div>   
</body>
</html>
