
    <% include header.html %>  
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" style="color:#ffffff">报道流程管理</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if (user) { %>
              <li><a href="#">
                <span class="glyphicon glyphicon-user" aria-hidden="true"/><span class="fontChange"> <%= user.email %></span></a></li>
            <% } %>
            
            <li><a href="/logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"/><span class="fontChange"> 退出</span></a></li>
                      </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/home">
                <span class="glyphicon glyphicon-home" aria-hidden="true"/><span class="fontChange"> 后台首页</span></a></li>
            <li class="active"><a href="/post">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"/><span class="fontChange"> 发布日记</span></a></li>
          </ul>
         
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          
          <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">发布日记</h3>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <!-- <div class="form-group">
                        <label for="experience_keyword" class="col-sm-1 control-label">标签</label>
                        <div class="col-sm-5">
                            <input type="text" name="key" class="form-control" id="keyword">
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label for="title" class="col-sm-1 control-label">标题</label>
                        <div class="col-sm-5">
                            <input type="text" name="title" class="form-control" id="title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="content" class="col-sm-1 control-label">正文</label>                        
                        <div class="col-sm-10 ">
                           <div>
                                <script id="editor" type="text/plain" style="height:500px;"></script>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-1 control-label"></div>
                        <div class="col-sm-10 ">
                            <button type="button" id="sendBtn" class="btn btn-success btn-sm fontChange">发 &nbsp;送</button>&nbsp;&nbsp;
                            <button type="button" class="btn btn-danger btn-sm fontChange">取 &nbsp;消</button>
                        </div>
                    </div>
                </div>
                
                
        
                
           </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/javascripts/jquery.min.js"></script> 
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/xblog.js"></script>
    
    <script type="text/javascript" charset="utf-8" src="/javascripts/ueditor1_4_3-utf8-jsp/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/javascripts/ueditor1_4_3-utf8-jsp/ueditor.all.min.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="/javascripts/ueditor1_4_3-utf8-jsp/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">

        $("#sendBtn").click(function(){
            
            var data = {
                title: $("#title").val(),
                content: UE.getEditor('editor').getPlainTxt()
            };             
            $.ajax({
                 type: "post",
                 url: "/postProcess",
                 data: data,
                 dataType: "json",
                 success: function(data){
                     if(data.type==1){
                         alert("发布成功");
                         window.location.href = "/home";
                     }else{
                         alert("发布失败");
                         window.location.href = "/home";
                     }
                     
                 }
             });
        });
        //实例化编辑器
        //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
        var ue = UE.getEditor('editor');


        function isFocus(e){
            alert(UE.getEditor('editor').isFocus());
            UE.dom.domUtils.preventDefault(e)
        }
        function setblur(e){
            UE.getEditor('editor').blur();
            UE.dom.domUtils.preventDefault(e)
        }
        function insertHtml() {
            var value = prompt('插入html代码', '');
            UE.getEditor('editor').execCommand('insertHtml', value)
        }
        function createEditor() {
            enableBtn();
            UE.getEditor('editor');
        }
        function getAllHtml() {
            alert(UE.getEditor('editor').getAllHtml())
        }
        function getContent() {
            var arr = [];
            arr.push("使用editor.getContent()方法可以获得编辑器的内容");
            arr.push("内容为：");
            arr.push(UE.getEditor('editor').getContent());
            alert(arr.join("\n"));
        }
        function getPlainTxt() {
            var arr = [];
            arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
            arr.push("内容为：");
            arr.push(UE.getEditor('editor').getPlainTxt());
            alert(arr.join('\n'))
        }
        function setContent(isAppendTo) {
            var arr = [];
            arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
            UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
            alert(arr.join("\n"));
        }
        function setDisabled() {
            UE.getEditor('editor').setDisabled('fullscreen');
            disableBtn("enable");
        }

        function setEnabled() {
            UE.getEditor('editor').setEnabled();
            enableBtn();
        }

        function getText() {
            //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
            var range = UE.getEditor('editor').selection.getRange();
            range.select();
            var txt = UE.getEditor('editor').selection.getText();
            alert(txt)
        }

        function getContentTxt() {
            var arr = [];
            arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
            arr.push("编辑器的纯文本内容为：");
            arr.push(UE.getEditor('editor').getContentTxt());
            alert(arr.join("\n"));
        }
        function hasContent() {
            var arr = [];
            arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
            arr.push("判断结果为：");
            arr.push(UE.getEditor('editor').hasContents());
            alert(arr.join("\n"));
        }
        function setFocus() {
            UE.getEditor('editor').focus();
        }
        function deleteEditor() {
            disableBtn();
            UE.getEditor('editor').destroy();
        }
        function disableBtn(str) {
            var div = document.getElementById('btns');
            var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
            for (var i = 0, btn; btn = btns[i++];) {
                if (btn.id == str) {
                    UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
                } else {
                    btn.setAttribute("disabled", "true");
                }
            }
        }
        function enableBtn() {
            var div = document.getElementById('btns');
            var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
            for (var i = 0, btn; btn = btns[i++];) {
                UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
            }
        }

        function getLocalData () {
            alert(UE.getEditor('editor').execCommand( "getlocaldata" ));
        }

        function clearLocalData () {
            UE.getEditor('editor').execCommand( "clearlocaldata" );
            alert("已清空草稿箱")
        }
    </script>
    </body>
 </html>