<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link type="text/css" href="../styles/css/common.css" rel="stylesheet"/>
		<link type="text/css" href="../styles/css/info.css" rel="stylesheet" />
		<link rel="icon" href="../img/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />
		<link type="text/css" href="../styles/css/weui.min.css" rel="stylesheet" />
		<title>宿舍管理系统 - DMS</title>
	</head>
	<body>
		<div class="nav">
			<div class="logo">宿舍管理系统</div>
			<div class="user">
				<i class="iconfont">&#xe787;</i>admin
				<span class="btn btn-green js-func" style="margin-left: 10px">返回功能选择</span>
				<span class="btn btn-red js-logout" style="margin-left: 10px">退出</span>
			</div>
		</div>
		<div class="content" id="bedInfo">
			<div class="main-block large">
				<div class="studentInfo-hd">
					<span class="teacher-name"><strong>宿舍床位情况</strong></span>
					<span class="student-count" >共 <i>{{ bedInfos.length }}</i> 个</span>
					<span style="margin-left: 60px">宿舍号：</span>
					<input class="search-input" type="text" id="roomNo-input" />
					<span class="btn btn-blue js-roomNo-search">搜索</span>
					<span style="margin-left: 8px">学号：</span>
					<input class="search-input" type="text" id="studentNo-input" />
					<span class="btn btn-blue js-studentNo-search">搜索</span>
					<div class="operation-box">
						<span class="btn btn-green"><a href="http://localhost:4000/getTemplate/bedInfo" style="text-decoration: none; color: #fff;">Excel模板下载</a></span>
						<span class="btn btn-green js-upload">Excel导入</span>
						<form id="uploadBedInfoForm" action="http://localhost:4000/uploadBedInfo" name="bedInfo" method="post" enctype= "multipart/form-data" style="display: none;"> 
							<input id="uploadBedInfo" type="file" name="upfile" />  
						</form>  
						<span class="btn btn-blue js-output"><a href="http://localhost:4000/getBedInfoOutput" style="text-decoration: none; color: #fff;">导出成Excel</a></span>
						<span class="btn btn-yellow js-distribute">分配学生</span>
						<span class="btn btn-orange js-checkin">办理入住</span>
						<span class="btn btn-blue js-checkout">办理退宿</span>
						<span class="btn btn-red js-usable">置为可用 / 不可用</span>
					</div>
				</div>
				<div class="studentInfo-bd">
					<table cellpadding="0" cellspacing="0" border="0">
						<thead>
							<tr>
								<th style="width: 10px;"><input disabled="disabled" type="checkbox" class="js-selectAll"/></th>
								<th style="width: 5%">楼号</th>
								<th style="width: 7%;">宿舍号</th>
								<th style="width: 5%">床位编号</th>
								<th style="width: 5%">性别</th>
								<th style="width: 8%">状态</th>
								<th style="width: 5%">是否可用</th>
								<th style="width: 10%">学生学号</th>
								<th style="width: 10%">学生姓名</th>
							</tr>
						</thead>
						<tbody class="js-tbody">
							<tr v-for="(bedInfo, index) in bedInfos" :data-index="index">
								<td><input type="checkbox" class="js-selectOne" /></td>
								<td>{{ bedInfo.buildingNo }}</td>
								<td>{{ bedInfo.roomNo }}</td>
								<td>{{ bedInfo.bedNo}}</td>
								<td v-if="bedInfo.sex == 0">女</td>
								<td v-else>男</td>
								<td v-if="bedInfo.status == 0">空床</td>
								<td v-else-if="bedInfo.status == 1">已分配</td>
								<td v-else>已入住</td>
								<td v-if="bedInfo.usable == 1" class="available"><strong>√</strong></td>
								<td v-else class="unavailable"><strong>×</strong></td>								
								<td>{{ bedInfo.studentNo }}</td>
								<td>{{ bedInfo.studentName }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="loadingToast" style="opacity: 1; display: block;" v-if="loading">
				<div class="weui-mask"></div>
				<div class="weui-toast">
					<i class="weui-loading weui-icon_toast"></i>
					<p class="weui-toast__content" id="loadingMsg">{{ loadingContent }}</p>
				</div>
			</div>
		</div>
		<div class="modal">
			<div class="modal-content student" style="height: 172px;">
				<span class="title"><strong>分配住宿学生</strong></span>
				<div class="row">
					<div class="sm-item">
						<div class="item-content">
							<div class="text">学号：</div>
							<div class="input">
								<input type="text" class="js-studentNo"/>
							</div>
						</div>
					</div>
					<div class="sm-item">
						<div class="item-content">
							<div class="text">姓名：</div>
							<div class="input">
								<input type="text" class="js-studentName"/>
							</div>
						</div>
					</div>
				</div>
				<div class="operation-box">
					<span class="btn btn-green js-submit">确认</span><span class="btn btn-red js-cancel">取消</span>
				</div>
			</div>

		</div>
		<script type="text/javascript" src="../scripts/vue.js"></script>
		<script type="text/javascript" src="../scripts/zepto.min.js"></script>
		<script type="text/javascript" src="../scripts/common.js"></script>
		<script type="text/javascript" src="../scripts/bedInfo.js" charset="utf-8"></script>


	</body>
</html>