<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>办理住宿</title>
        <!-- 引入 WeUI -->
        <link type="text/css" href="../styles/css/weui.min.css" rel="stylesheet" />
        <link type="text/css" href="../styles/css/example.css" rel="stylesheet" />
        <link type="text/css" href="../styles/css/dormManagement.css" rel="stylesheet" />
        <!--<link type="text/css" rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"/>-->
    </head>
    <body>
        <div class="container" id="container">
            <div class="page icons js_show">
                <div class="page__hd">
                    <h1 class="page__title">新生办理住宿</h1>
                    <!--<p class="page__desc">图标</p>-->
                </div>
                <div class="page__bd page__bd_spacing">

                    <div class="icon-box">
                        <i class="weui-icon-warn weui-icon_msg-primary"></i>
                        <div class="icon-box__ctn">
                            <h3 class="icon-box__title">不可办理</h3>
                            <p class="icon-box__desc">抱歉，只有已缴纳住宿费的大兴校区的新生才可选宿舍</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script type="text/javascript" src="../scripts/zepto.min.js"></script>
        <!--<script src="../scripts/example.js"></script>-->
        <script type="text/javascript" src="../scripts/vue.js"></script>
		<script type="text/javascript" src="../scripts/checkDormEntry.js"></script>
    </body>
</html>