<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>办理住宿</title>
        <!-- 引入 WeUI -->
        <link type="text/css" href="../styles/css/weui.min.css" rel="stylesheet" />
        <link type="text/css" href="../styles/css/example.css" rel="stylesheet" />
        <link type="text/css" href="../styles/css/dormManagement.css" rel="stylesheet" />
        <!--<link type="text/css" rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"/>-->
    </head>
    <body>
        <div class="container" id="container">
            <div class="page icons js_show">
                <div class="page__hd">
                    <h1 class="page__title">{{ studentName }}</h1>
                    <p class="page__desc">校验码：{{ code }}</p>
                    <p class="page__desc"><strong>[重要]</strong> 办理多人住宿时需要提供校验码，请勿透露给非同住人</p>
                </div>
                <div class="page__bd page__bd_spacing" v-if="distributed">
                    <p class="page__desc"><strong>状　态：</strong>已成功办理</p>
                    <p class="page__desc"><strong>楼　号：</strong>{{ buildingName }}</p>
                    <p class="page__desc"><strong>宿舍号：</strong>{{ roomNo }}</p>
                    <p class="page__desc"><strong>床位号：</strong>{{ bedNo }}</p>
                </div>
                <div class="page__bd page__bd_spacing" v-if="!distributed && available">
                    <a href="javascript:;" class="weui-btn weui-btn_plain-primary" v-on:click="goToCheckDorm">选宿舍</a>
                </div>
                <div class="page__bd page__bd_spacing" v-if="!available"> 
                    <a href="javascript:;" class="weui-btn weui-btn_plain-primary weui-btn_plain-disabled">选宿舍</a>
                    <div class="weui-msg" style="padding-top: 16px;">
                        <h2 class="weui-msg__title">未到可选宿舍时间</h2>
                        <p class="weui-msg__desc">开放时间：2017年5月30日 17:00</p>
                        <p class="weui-msg__desc">至 2017年6月22日 17:00</p>
                    </div>
                </div>
                <div id="loadingToast" style="opacity: 0; display: none;">
                    <div class="weui-mask"></div>
                    <div class="weui-toast">
                        <i class="weui-loading weui-icon_toast"></i>
                        <p class="weui-toast__content" id="loadingMsg">处理中</p>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../scripts/vue.js"></script>
        <script type="text/javascript" src="../scripts/zepto.min.js"></script>
        <script type="text/javascript" src="../scripts/personalPage.js"></script>
    </body>
</html>