<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>办理住宿</title>
        <!-- 引入 WeUI -->
        <link type="text/css" href="../styles/css/weui.min.css" rel="stylesheet" />
        <link type="text/css" href="../styles/css/example.css" rel="stylesheet" />
        <!--<link type="text/css" href="../styles/css/dormManagement.css" rel="stylesheet" />-->
        <!--<link type="text/css" rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"/>-->
    </head>
    <body>
        <div class="container" id="container">
            <div class="page msg_success js_show">
                <div class="weui-msg">
                    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
                    <div class="weui-msg__text-area">
                        <h2 class="weui-msg__title">办理成功</h2>
                        <p class="weui-msg__desc">报道当天凭录取通知书到对应宿舍楼前办理入住</p>
                    </div>
                    <div class="weui-msg__opr-area">
                        <p class="weui-btn-area">
                            <a href="./personalPage.html" class="weui-btn weui-btn_primary">返回个人页查看</a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <script type="text/javascript" src="../scripts/vue.js"></script>
        <script type="text/javascript" src="../scripts/zepto.min.js"></script>
        <script type="text/javascript" src="../scripts/success.js"></script>
    </body>
</html>